<!DOCTYPE html>
<html>
<head> 
{% include 'navbar.html' %}
</head>
<style>
    .custom-box {
      width: 75%;
      padding: 10px;
      margin-top: 50px;
justify-content: center;
    }

input{width:100%}

</style>

<body> 

<div class="container-xl">
<div class="row">

<div id='ship' class="col-lg-6">

<form action="/checkout/" method="post">
  <div class="box-element container-xl border border-2 border-primary rounded custom-box bg-light" >
    {% csrf_token %}
    {%for field in form %}
<h4>{{field.label}}</h4>
{{field}} <br>
{% endfor %}
<br>
    <input type="submit" value="Submit" class="btn bg-primary text-white fs-5">
</div>
</form>

</div>

<div class="col-lg-6">
<div class="box-element border border-2 border-primary rounded" style="margin-top: 50px;">

<center><h3> Order summary </h3></center>
<center><div style="width:80%;height:3px;background-color:grey;"></div><br></center>
<br>

{% for item in items %}
<div class="row" style="hieght:50%;">
<img src="{{MEDIA_URL}}{{item.product.image}}" class="img-fluid col">
<h5 class=" col">{{ item.product.name }}</h5>
<h5 class=" col">{{ item.quantity }}</h5>
<h5 class=" col">Total: {{item.get_total}}<font class="text-success">$</font></h5>
<center><div style="width:80%;height:3px;background-color:grey;"></div><br></center>
</div>
{% endfor %}
</div>
</div>

</div>
</div>
</div>
</body>


<script>
var user="{{request.user}}"
var shipping="{{order.shipping}}"
/*if (shipping=="False"){
document.getElementById('ship').innerHTML='' 
  location.replace("/payment/")
}*/

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
{% load static %}
<script type="text/javascript" src="{% static 'cart.js' %}">

</script>

</html>
