<!DOCTYPE html>
<html>
{% load static %}    
<link rel="stylesheet" href="{% static 'mycss.css' %}">
{% include 'navbar.html' %}
<head> 
</head>
<body> 
<input type="hidden" id="cart_token" name="cart_token" value="product">
<div class="container bootdey">
<div class="col-md-12">

<section class="panel">
      <div class="panel-body">
<div style="display:flex;">
          <div class="col-md-6" style="margin-top:40px;">
              <div class="pro-img-details"><center>
                  <img src="{{MEDIA_URL}}{{product.image}}" alt="" style="width:60%;" class="img-thumbnail"></center>
              </div>
              <div class="pro-img-list">
{% if product.image2 == '' %} 
{% else %}
                      <img src="{{MEDIA_URL}}{{product.image2}}" alt="" style="width:30%;" class="img-thumbnail">
{% endif %} 
{% if product.image3 == '' %} 
{% else %}
                      <img src="{{MEDIA_URL}}{{product.image3}}" alt="" style="width:30%;" class="img-thumbnail">
{% endif %} 
{% if product.image4 == '' %} 
{% else %}
                      <img src="{{MEDIA_URL}}{{product.image4}}" alt="" style="width:30%;" class="img-thumbnail">
{% endif %} 


              </div>
          </div>

          <div class="col-md-6" style="margin-top:40px;">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      {{ product.name }}
                  </a>
              </h4>
              <p>
                  {{product.data}}
              </p>

              <div class="product_meta">
                  <span class="posted_in"> <strong>Categories:</strong> 
                  <a rel="tag" href="#">{{product.category1}}</a>
                  {% if product.category2 == None %}
                   {% else %}
                  
                  ,<a rel="tag" href="#">{{product.category2}}</a> 
                   {% endif %}
                  {% if product.category3 == None %}
                   {% else %}
                  ,<a rel="tag" href="#">{{product.category3}}</a> 
                   {% endif %}

              </div>
              <div class="product_meta">
                  <span class="posted_in"> <strong>Colors:</strong> 
                  {% if product.color1 == None %}
                   {% else %}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="color1">
  <label class="form-check-label" for="color1">
              {{product.color1}}
  </label>
</div>
{% endif %}

                  {% if product.color2 == None %}
                   {% else %}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="color2">
  <label class="form-check-label" for="color2">                  
                  {{product.color2}}
  </label>
</div>

                   {% endif %}
                  {% if product.color3 == None %}
                   {% else %}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="color3">
  <label class="form-check-label" for="color3">      
                  {{product.color3}}
  </label>
</div>
                   {% endif %}

                  {% if product.color4 == None %}
                   {% else %}
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="color4">
  <label class="form-check-label" for="color4">      
                 {{product.color4}}
  </label>
</div>
                   {% endif %}

              </div>
              <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">{{product.price|floatformat:2}}$</span>  

              <p>
                  <button data-product="{{product.id}}" 
data-action="add" class="btn btn-round btn-danger update-cart" type="button"> Add to Cart</button>
              </p>
          </div>
      </div>
  </section>
  </div>
  </div>

</body>
<script>
var user="{{request.user}}"
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
var page="product"
</script>
{% load static %}
<script type="text/javascript" src="{% static 'cart.js' %}">
</script>
</html>
