<!DOCTYPE html>
<html>
<head> 
{% include 'navbar.html' %}
</head>
<input type="hidden" id="cart_token" name="cart_token" value="product">
<body> 
<div class="my-4 mx-4" style="display:flex;padding:10px;">
{% for item in page %}

<a href="product/?id={{item.id}}" style="text-decoration:none;margin:10px;">
<div class="card" style="width: 18rem;">
    <h4 class="card-title text-dark ms-2">{{ item.name }}</h4>
  <div class="card-body">
<img src="{{MEDIA_URL}}{{item.image}}" style="width:150px;height:150px;">
<p class="card-text text-dark">{{item.data}}</p>

<font class="fs-5 text-success">${{item.price|floatformat:2}}</font> 
</a>
<button 
data-product="{{item.id}}" 
data-action="add"  class="btn btn-warning ms-3 update-cart">Add to cart</button>

</div>
</div>


 {% endfor %}
</div>

<center>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</center>
</body>
<script>var user = "{{request.user}}"

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>

{% load static %}
<script type="text/javascript" src="{% static 'cart.js' %}">

</script>

</html>
