<!DOCTYPE html>
<html>
<head> 
{% include 'navbar.html' %}
</head>
<input type="hidden" id="cart_token" name="cart_token" value="product">
<body> 
{% for item in context %}
<div class="my-4 mx-4">
<a href="product/?id={{item.id}}" style="text-decoration:none;">
<div class="card" style="width: 18rem;">
    <h4 class="card-title text-dark ms-2">{{ item.name }}</h4>
  <div class="card-body">
<img src="{{MEDIA_URL}}{{item.image}}" class="img-fluid">
<p class="card-text text-dark">{{item.data}}</p>

<font class="fs-5 text-success">${{item.price|floatformat:2}}</font> 
</a>
<button 
data-product="{{item.id}}" 
data-action="add"  class="btn btn-warning ms-3 update-cart">Add to cart</button>

</div>

</div>

 {% endfor %}
</body>
<script>var user = "{{request.user}}"

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>

{% load static %}
<script type="text/javascript" src="{% static 'cart.js' %}">

</script>

</html>
